{% extends "base.html" %}

{% block head %}
<script>
    const seePageNumber = () => {
        const searchInputValue = document.getElementById("see_page_number").value;
        window.location.href = `/pages/see_posts/${searchInputValue}`;
    }

</script>
{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center">
    <div class="flex my-3 gap-5">
        <input id="see_page_number" type="text" placeholder="Страница№" class="text-xl">
        <button onclick="seePageNumber()" class="border-2 rounded-3xl bg-gray-300 p-3">Показать Страницу</button>
    </div>
    <span>Выберите номер страницы</span>
    {% for post in posts %}
    <div class="flex rounded-3 border-2 p-3 mt-5">
        <div class="flex flex-col">
            <span class="text-2xl font-bold">{{post.title}}</span>
            <span class="text-lg">{{ post.context }}</span>
            <span class="text-lg" title="creator">{{ post.creator }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}